@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.menu{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:0.80em;
}
.fuente1{
    font-family:'Plus Jakarta Sans', sans-serif;
}
.fuente2{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
.menu li:hover{
    color: rgb(253 164 175);
}
.submenu li:hover{
    color:black;
}
.menu li a{
    background-color:transparent;
}
.submenu{
    border-radius: 0% !important;
}
.btn{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.numcount{
    line-height:3em;
}

.btn-group button:hover, .btn:hover{
    background-color:rgb(254 205 211) !important;
    border-color: rgb(254 205 211);
}
.listaservicios{
    font-size:1.5em;
    background-color:#cffafe;
}
.detalleitem{
    max-width:550px;
    margin-top:3em;
}

.carritocard{
    max-width: 550px;
    width:300px;
    margin:1em;
}
.botonCompra{
    margin:auto;
    display:block;
    margin-top:3em;
}
.botonSeguir{
    margin: auto;
    margin-top:2em;
    display:block;
    background-color: transparent;
    color:black;
    border:none;
    font-size:0.7em;
    width: fit-content;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.botonSeguir:hover{
    font-weight: bold ;

}
input{
    border: solid rgb(254 205 211);
    border-width: 1px;
    border-radius: 5px;
    width:100%;
}