@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

.menu{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-size:0.80em;
}
.menu li:hover{
    color: rgb(253 164 175);
}
.submenu li:hover{
    color:black;
}
.menu li a{
    background-color:transparent;
}
.submenu{
    border-radius: 0% !important;
}
.btn{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.numcount{
    line-height:3em;
}

.btn-group button:hover{
    background-color:rgb(254 205 211) !important;
    border-color: rgb(254 205 211);
}